*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 100%;
    height: 100%;
    background: #dcdcdc;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.date_title{
width: 100%;
height: 25px;
background: #000;
color: white;
display:flex;
text-align: center;
justify-content:center;
}

.date_text{
width: 100%;
height: 25px;
}

.date_text input{
    width: 100%;
    height: 100%;
    }

.item_title{
width: 100%;
height: 25px;
background: #000;
color: white;
display:flex;
text-align: center;
justify-content:center;
}

.item_text{
    width: 100%;
    height: 25px;
}

.item_text input{
    width: 100%;
    height: 100%;
    }

.part_title{
width: 100%;
height: 25px;
background: #000;
color: white;
display:flex;
text-align: center;
justify-content:center;
}

.part_text{
    width: 100%;
    height: 25px;
}

.part_text select{
    width: 100%;
    height: 100%;
    }

.qty_title{
width: 100%;
height: 25px;
background: #000;
color: white;
display:flex;
text-align: center;
justify-content:center;
}

.qty_text{
    width: 100%;
    height: 25px;
}

.qty_text input{
    width: 100%;
    height: 100%;
    }

    #btn_print{
        width: 100%;
        height: 80px;
        background: #dcdcdc;
        box-shadow: inset 2px 2px 2px #ffffffd9;
        margin-top: 15px;
    }


